

<div class="container">


  <div class="homepage-section">
    <div class="title-container">
      <h1 class="title-homepage">Rent a studio. Play music.</h1>
    </div>

    <p class="subtitle-homepage"><em>Share your studio with other creators.</em></p>
    <br>
    <div class="all-center">
      <a href="/studios" class="button">See all studios</a>
    </div>
  </div>

 <div class="homepage-section">

  <div class="searchbar-container">

    <%= form_tag studios_path, method: :get, class:'form-inline' do %>

    <div class="row align-items-center">
    <div class="col">
      <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "In which city?" %>
    </div>
    <div class="col">
      <%= number_field_tag :price, params[:price], class: "form-control", placeholder: "Max. price" %>
    </div>
    <div class="col">
      <%= number_field_tag :capacity, params[:capacity], class: "form-control", placeholder: "Min. capacity" %>
    </div>
    <div class="col">
      <%= submit_tag "Search", class: "btn-search" %>
    </div>

</div>
    <% end %>


  </div>

  <br>


 </div>

 <div class="homepage-section">

    <h3> Latest studios online </h3>
    <br>

    <div class="cards">
      <% @top.each do |studio| %>
      <div class="card-studio">
        <%= link_to studio_path(studio) do%>
          <div class="card-img-container">
            <% if studio.photos.attached? %>
              <%= cl_image_tag studio.photos.key, crop: :fill %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2550&q=80" />
             <% end %>
          </div>
         <% end %>
        <div class="card-studio-infos">
          <div>
            <h5 class="title-card"><%= studio.title %></h5>
            <p> — <em><%= studio.address %></em> </p>
          </div>
          <div>
            <p> <%= studio.capacity %> <i class="far fa-user"></i> </p>
            <p class="price"> <strong><%= studio.price %>€ </strong></p>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-studio-user avatar-bordered" />
        </div>

      </div>
      <% end %>
    </div>
<br>
  </div>


</div>


