

<div class="container">


  <div class="homepage-section">
    <div class="title-container">
      <h1 class="title-homepage">Rent a studio. Play music.</h1>
    </div>

    <p class="subtitle-homepage"><em>Share your studio with other creators.</em></p>
    <br>
    <div class="all-center">
      <a href="/studios" class="button">See all studios</a>
    </div>
  </div>

 <div class="homepage-section">

  <div class="searchbar-container">

    <%= form_tag studios_path, method: :get, class:'form-inline' do %>

    <div class="row align-items-center">
    <div class="col">
      <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "In which city?" %>
    </div>
    <div class="col">
      <%= number_field_tag :price, params[:price], class: "form-control", placeholder: "Max. price" %>
    </div>
    <div class="col">
      <%= number_field_tag :capacity, params[:capacity], class: "form-control", placeholder: "Min. capacity" %>
    </div>
    <div class="col">
      <%= submit_tag "Search", class: "btn-search" %>
    </div>

</div>
    <% end %>


  </div>

  <br>


 </div>

 <div class="homepage-section">

    <h3> Latest studios online </h3>
    <br>

    <div class="cards">

    <% @top.each do |studio| %>
      <%= render 'shared/card', studio: studio %>
    <% end %>

    </div>
<br>
  </div>
</div>


