

<div class="container carousel-container">


  <div class="homepage-section">
    <div class="title-container">
      <h1 class="title-homepage">Rent a studio. Play music.</h1>
    </div>

    <p class="subtitle-homepage"><em>Share your studio with other creators.</em></p>
    <br>
    <div class="all-center">
      <a href="/studios" class="button">See all studios</a>
    </div>
  </div>

 <div class="homepage-section">

  <div class="searchbar-container">

    <%= form_tag studios_path, method: :get, class:'form-inline' do %>

    <div class="row align-items-center">
    <div class="col">
      <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "In which city?", required:true %>
    </div>
    <div class="col">
      <%= number_field_tag :price, params[:price], class: "form-control", placeholder: "Max. price", required:true %>
    </div>
    <div class="col">
      <%= number_field_tag :capacity, params[:capacity], class: "form-control", placeholder: "Min. capacity", required:true %>
    </div>
    <div class="col">
      <%= submit_tag "Search", class: "btn-search" %>
    </div>

</div>
    <% end %>


  </div>

  <br>


 </div>

 <div class="homepage-section">

    <h3> Latest studios online </h3>
    <br>








    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <div class="cards">
            <% @top.first(3).each do |studio| %>
              <div class="card-studio">
                <%= render 'shared/card', studio: studio %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards">
            <% @top.last(3).each do |studio| %>
              <div class="card-studio">
                <%= render 'shared/card', studio: studio %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev carousel-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next carousel-btn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon carousel-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <br>
  </div>
</div>


