

<div class="container-studios">

  <div class="container-studios-title">
    <div id="all-studios">
      <h1>All studios (<%= @studios.size %>)</h1>
    </div>
    <div>
      <% if policy(Studio).create? %>
        <%= link_to "New studio", new_studio_path, class: "button" %>
      <% end %>
    </div>
  </div>
  <br>


  <div class="container-map">

    <div class="studios-separation">
      <div class="cards-index">
        <% @studios.each do |studio| %>
          <% if studio.user != current_user %>
            <div class="card-studio studios-card-placeholder">
              <div class="delete-button-placeholder">
                <% if policy(studio).destroy? %>
                  <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, studio_path(studio), method: :delete, data: { confirm: "Delete #{studio.title}?" }, class: "delete-button" %>
                <% end %>
              </div>
              <%= render 'shared/card', studio: studio %>
            </div>
          <% end %>
        <% end %>
      </div>

      <br>
      <br>

      <div class="cards-index">
        <h1>My studios (<%= current_user.studios.size %>)</h1>
      </div>

      <div class="cards-index">
        <% if current_user.studios.length !=0 %>
          <% @studios.each do |studio| %>
            <% if studio.user == current_user %>
              <div class="card-studio studios-card-placeholder">
                <div class="delete-button-placeholder">
                  <% if policy(studio).destroy? %>
                    <% if studio.bookings.length != 0%>
                      <a disabled="disabled" class="delete-button" id="sweet-alert-demo">
                        <i class="far fa-trash-alt"></i>
                      </a>
                    <% else %>
                      <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, studio_path(studio), method: :delete, data: { confirm: "Delete #{studio.title}?" }, class: "delete-button" %>
                    <% end %>
                  <% end %>
                </div>
                <%= render 'shared/card', studio: studio %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>


    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

</div>
