
<div class="container">
  <div class="btn-show">
    <% if @studio.user == current_user %>
      <%= link_to(" < Back to my studios", my_studios_path, class: "button") %>
    <% else %>
      <%= link_to(" < Back to studio list", studios_path, class: "button") %>
    <% end %>
  </div>

  <div class="title-header">
        <h2> <%= @studio.title %> </h2>
        <p> <%= @studio.address %> </p>
      </div>

  <div class="show-container">

    <div class="studio-image">
      <% if @studio.photos.attached? %>
      <%= cl_image_tag @studio.photos.key, height: 466, width: 666, crop: :fill %>
      <% else %>
        <img id="default-img" src="https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2550&q=80" />
      <% end %>
    </div>

    <div class="title-info">
      <% if policy(@studio).edit? %>
        <div class="ownership">
          <em>You own this studio</em>
        </div>
      <% end %>

      <div class="icons">
        <div class="capacity" >
          <p> <%= @studio.capacity   %> <i class="far fa-user">  </i></p>
        </div>
        <div class="euros" data-price='<%= @studio.price %>'>
          <p> <%= @studio.price %>€ per day</p>
        </div>
      </div>
      <div class="book-btn">
        <% if policy(Booking).create? && @studio.user != current_user%>
        <div>
          <div class="form-wrapper" style="width: 300px; margin: 0 auto;">
            <%= simple_form_for [ @studio, @booking ] do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: {id: "range_start"} %>
              <%= f.input :end_date, as: :string, required: false, input_html: {id: "range_end"} %>
              <%  %>
            <div>Number of days: <span  id="length-of-stay"> </span></div>
            <div>Total price: <span id="total-price" data-price='<%= @studio.price%>'></span>€</div>
            <br>
            <%= f.button :submit, "Confirm your booking", hidden: true, id: "sweet-alert-booking", class: "booking-btn"  %>
            <btn id="fake-btn" data-studio="<%= @studio.title %>" class="booking-btn">Confirm your booking</btn>
            <% end %>

          </div>
        </div>
        <% end %>
        <% if policy(@studio).edit? %>
          <%= link_to("Update your studio", edit_studio_path(@studio),class: "button") %>
        <% end %>
      </div>
      <br>


    </div>
  </div>

  <div class="descr-profile-show">

    <div class="description">
      <h3>Description</h3>
      <p> <%= @studio.description %> </p>
    </div>

    <div class="profile-show">
      <% if @studio.user.avatar.attached? %>
        <%= cl_image_tag @studio.user.avatar.key, crop: :fill, class: "card-studio-user avatar-bordered-show"%>
      <% else %>
        <img class="card-studio-user avatar-bordered-show" src="https://images.unsplash.com/photo-1574882225022-9e0e447e9662?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" />
      <% end %>
      <br><br>
      <div class="content-profile">
        <p>by <span id="user-name-show"><%= @studio.user.name %></span></p>
        <p class="user-description-show"> — <em><%= @studio.user.description %></em> </p>
      </div>

    </div>

  </div>

  <% if policy(@studio).edit? && @studio.bookings.length != 0 %>
    <h3>Manage my studio's bookings</h3>
    <ul>
      <% @studio.bookings.each do |booking| %>
        <div class="card card-booking card-manage">
          <div class="card-text">

            <% if booking.status == "To be confirmed"%>
              <li>Booked by : <strong><%= booking.user.email %></strong> - <span class="badge badge-warning"><%= booking.status %></span></li>
            <% elsif booking.status == "Confirmed"%>
              <li>Booked by : <strong><%= booking.user.email %></strong> - <span class="badge badge-success"><%= booking.status %></span></li>
            <% elsif booking.status == "Canceled"%>
              <li>Booked by : <strong><%= booking.user.email %></strong> - <span class="badge badge-danger"><%= booking.status %></span></li>
            <% end %>

            <p>
              From : <%= booking.start_date.strftime("%a, %d %b %Y")%> at <%= booking.start_date.strftime("%H:%M") %> <br>
              To : <%= booking.end_date.strftime("%a, %d %b %Y")%> at <%= booking.end_date.strftime("%H:%M") %>
            </p>
            <div class="notification-action">
              <%= link_to "Confirm", confirm_booking_path(booking), method: :patch %>
              <%= link_to "Cancel", cancel_booking_path(booking), method: :patch %>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  <% end %>



</div>














