<h2> <%= @studio.title %> </h2>
<p> <%= @studio.address %> </p>
<p> <%= @studio.description %> </p>
<p> <%= @studio.capacity %> </p>
<p> <%= @studio.price %> </p>


  <% if policy(@studio).edit? %>
    <%= link_to "Update", edit_studio_path(@studio) %>
  <% end %>

<%= link_to("Back flats list", studios_path) %>
<%= link_to("Book this studio", new_studio_booking_path(@studio)) %>
